
html {
	height: 100%;
}
body {
	margin: 0;
	position: relative;
	height: 100%;
}

#upperControls {
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 48px;
	position: absolute;
}

	#map {
		left: 0px;
		top: 0px;
		right: 300px;
		bottom: 0px;
		position: absolute;
	}

	#leftList {
		top: 0px;
		right: 0px;
		bottom: 0px;
		width: 300px;
		position: absolute;
		overflow-y: scroll;
	}

#bottomControls {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 48px;
	bottom: 0px;
}

	#bottomLeftControls {
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0px;
		width: 144px;
	}

		#infoText {
			position: absolute;
			top: 0px;
			left: 0px;
			bottom: 0px;
			width: 96px;
			text-align: center;
			font-family: 'Courier New';
			font-weight: bold;
			font-size: 14px;
		}

		#playPauseButtons {
			position: absolute;
			top: 0px;
			left: 96px;
			bottom: 0px;
			right: 0px;
			text-align: 'right';
		}

			#playPauseButtons i {
				position: absolute;
				top: 9px;
				left: 11px;
			}

			#playPauseButtons #pauseButton {
				display: none;
			}

			#playPauseButtons.paused #playButton {
				display: none;
			}

			#playPauseButtons.paused #pauseButton {
				display: inline-block;
			}

	#scrollContainer {
		top: 0px;
		left: 144px;
		right: 0px;
		bottom: 0px;
		position: absolute;
		overflow: hidden;
	}
		#scrollCanvas {
			position: absolute;
			left: 0px;
			top: 0px;
			cursor: pointer;
		}
			#scrollHairLine {
				position: absolute;
				left: 50%;
				top: 0px;
				width: 1px;
				height: 48px;
				background: rgba(0,0,0,0.3);
			}
.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}