<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">

	<title>{{title}}</title>

	<meta name="og:title" property="og:title" content="{{title}}">
	<meta name="og:type" property="og:type" content="article">
	<meta name="og:url" property="og:url" content="http://apps.opendatacity.de/vds/">
	<meta name="og:image" property="og:image" content="http://apps.opendatacity.de/vds/screenshot.png">
	<meta name="og:description" property="og:description" content="{{desc_long}}">

	<meta name="twitter:card" property="twitter:card" content="summary">
	<meta name="twitter:site" property="twitter:site" content="@opendatacity">
	<meta name="twitter:creator" property="twitter:creator" content="@opendatacity">
	<meta name="twitter:title" property="twitter:title" content="{{title}}">
	<meta name="twitter:description" property="twitter:description" content="{{desc_short}}">
	<meta name="twitter:image:src" property="twitter:image:src" content="http://apps.opendatacity.de/vds/screenshot.png">
	<meta name="twitter:domain" property="twitter:domain" content="opendatacity.de">

	<meta name="description" content="{{desc_long}}">
	<meta name="author" content="Michael Kreil, OpenDataCity">
	<meta name="keywords" content="{{keywords}}">

	<!-- viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="/images/favicon.ico?v=1"/>

	<link type="text/css" rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="style/index.css" rel="stylesheet">

	<script type="text/javascript" src="lib/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="script/index.js"></script>

	<!-- polyfills -->
	<!--[if lt IE 9]><script type="text/javascript" src="lib/polyfills/html5shiv.min.js"></script><![endif]-->
	<!--[if lt IE 9]><script type="text/javascript" src="lib/polyfills/respond.min.js"></script><![endif]-->
</head>
<body>
	<div id="container">
		<div id="languages">{{other_languages}}: {{languagelist}}</div>
		<div class="jumbotron">
			<h1>{{heading}}</h1>
			<p>{{subheading}}</p>
		</div>
		<div class="content">
			<iframe src="frame_{{lang_code}}.html" height="500" width="100%" frameborder="0" allowfullscreen></iframe>
		</div>
		<div id="social" class="share-buttons">
			<ul class="clearfix">
				<li><a class="embed-pop embed" id="button-share" href="javascript:;" title="{{embed}}"><i class="fa fa-share"></i> <span>{{embed}}</span></a></li>
				<li><a class="share-pop twitter"><i class="fa fa-twitter"></i><span> Twitter</span></a>
				<li><a class="share-pop facebook"><i class="fa fa-facebook"></i><span> Facebook</span></a>
				<li><a class="share-pop google"><i class="fa fa-google-plus"></i><span> Google+</span></a>
				<li><a class="share-pop adn"><i class="fa fa-adn"></i><span> App.net</span></a>
			</ul>
		</div>
		<div class="info">
			<p>
				{{info1}}
			</p>
			<p>
				{{info2}}
			</p>
			<p>
				{{info3}}
			</p>
			<p>
				{{facts_and_stats}}
			</p>
			<p>&nbsp;</p>
			<p>
				<strong>{{links_heading}}</strong>
				<ul>
					<li>{{link_github}}</li>
					<li>{{link_graphic_calendar}}</li>
					<li>{{link_graphic_network}}</li>
					<li>{{link_translation}}</li>
				</ul>
			</p>
		</div>
	</div>
	<footer class="clearfix">
		<p class="pull-left">{{footer_left}}</p>
		<p class="pull-right">{{footer_right}}</p>
	</footer>
	<div id="share" class="overlay">
		<h2>{{embed}}</h2>
		<p>
			{{license_info}}
		</p>
		<code style="display:block;margin-bottom:10px;padding:10px;">&lt;iframe src=&quot;http://apps.opendatacity.de/vds/frame_{{lang_code}}.html&quot; width=&quot;100%&quot; height=&quot;500&quot; scrolling=&quot;auto&quot; allowfullscreen frameborder=&quot;0&quot;&gt;&lt;/iframe&gt;&lt;br /&gt;{{created_by}} &lt;a target=&quot;_blank&quot; href=&quot;http://opendatacity.de/&quot;&gt;OpenDataCity&lt;/a&gt;</code>
		<p>&nbsp;</p>
		<p>
			{{embed_info}}
		</p>
		<p>&nbsp;</p>
		<p>
			<a href="javascript:;" onclick="$('body').removeClass('show-share');" class="btn btn-primary">{{close}}</a>
		</p>
	</div>
	<div id="fb-root"></div>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-38022006-10', 'opendatacity.de');
		ga('send', 'pageview');
	</script>
</body>
</html>
