
body {

	background: #F5F5F5;

}

#container {

	display: block;
	position: relative;
	margin: 0px auto;
	box-shadow: 0px 0px 40px -20px rgba(0,0,0,0.4);
	background: #fff;
	padding: 30px;
	max-width: 862px;

}

	#container .jumbotron {
		
		padding: 0px;
		background-color: transparent;
		
	}

	#container .content {
	
		border: 1px solid #fcfcfc;
		margin-bottom: 20px;
		
	}
	
	#container .info {
	
		padding: 20px 0px;
		
	}

	#container .share-buttons {

		display: block;
		position: relative;
		text-align: right;
		padding: 0px;
		border-radius: 2px;
		height: 24px;

	}

		#container .share-buttons ul {

			display: inline-block;
			position: relative;
			list-style: none;
			margin: 0px;
			padding: 0px;

		}

		#container .share-buttons ul li {

			display: block;
			position: relative;
			float: left;

		}
		
			#container .share-buttons ul li a {

				display: block;
				position: relative;
				height: 24px;
				padding: 0px 10px;
				line-height: 24px;
				text-align: center;
				font-size: 12px;
				color: #fff;
				-webkit-transform: scale(1,1);
				-webkit-transition-timing-function: ease-out;
				-webkit-transition-duration: 250ms;
				-moz-transform: scale(1,1);
				-moz-transition-timing-function: ease-out;
				-moz-transition-duration: 250ms;
				
			}
			
			#container .share-buttons ul li a:hover {
			
				-webkit-transform: scale(1.2);
				-webkit-transition-timing-function: ease-out;
				-webkit-transition-duration: 250ms;
				-moz-transform: scale(1.2);
				-moz-transition-timing-function: ease-out;
				-moz-transition-duration: 250ms;
				z-index: 100;

			}
			
			#container .share-buttons ul li:first-child a {
				border-top-left-radius: 2px;
				border-bottom-left-radius: 2px;
			}

			#container .share-buttons ul li:last-child a {
				border-top-right-radius: 2px;
				border-bottom-right-radius: 2px;
			}
			
			#container .share-buttons ul li a i {
				font-size: 1.2em;
				margin-right: 3px;
			}

			#container .share-buttons ul li a:hover,
			#container .share-buttons ul li a:focus,
			#container .share-buttons ul li a:active {

				text-decoration: none;

			}

				#container .share-buttons ul li a.twitter { background-color: #00aced; }
				#container .share-buttons ul li a.twitter:hover { background-color: #4bc5f2; }
				#container .share-buttons ul li a.facebook { background-color: #3B5998; }
				#container .share-buttons ul li a.facebook:hover { background-color: #5a73a8; }
				#container .share-buttons ul li a.google { background-color: #dd4b39; }
				#container .share-buttons ul li a.google:hover { background-color: #e26758; }
				#container .share-buttons ul li a.adn { background-color: #444; }
				#container .share-buttons ul li a.adn:hover { background-color: #555; }
				#container .share-buttons ul li a.embed { background-color: #444; }
				#container .share-buttons ul li a.embed:hover { background-color: #555; }

footer {

	display: block;
	position: relative;
	margin: 0px;
	padding: 10px;
	border-top: 1px solid #eee;
	background-color: #fff;
	font-size: 13px;

}

	footer p {

		margin-bottom: 0;

	}

#share {

	display: none;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: #fff;
	z-index: 1500;
	padding: 5% 10% 10% 10%;
	overflow-x: auto;

}

	.show-share #share {
		display: block;
	}

	#share code {

		display: block;
		color: #333333;
		margin-bottom: 10px;
		padding: 10px;
		white-space: normal;
		overflow: auto;

	}
