
html {
	height: 100%;
	background: #fff;
}
body {
	background: #fff;
	margin: 0;
	position: relative;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.explanation {
	color: #333;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 200;
	line-height: 1.2em;
}

#topSection {
	left: 0px;
	top: 0px;
	right: 0px;
	height: 35px;
	position: absolute;
	text-align: center;
}

	.tabButton {
		background: #fff;
		border-left: 2px solid #aaa;
		border-right: 2px solid #aaa;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		border-top: 2px solid #aaa;
		color: #aaa;
		cursor: pointer;
		display: inline-block;
		font-size: 14px;
		font-weight: bold;
		height: 16px;
		margin-right: 10px;
		padding: 7px 9px 6px 9px;
		position: relative;
		top: 4px;
		white-space: nowrap;
		z-index: 1;
	}

		.tabButton.active {
			border-color: #000;
			color: #000;
			height: 18px;
		}

		.tabButton:hover {
			border-color: #555;
			color: #555;
		}

	.topButton {
		background: #fff;
		border-radius: 8px;
		border: 2px solid #aaa;
		color: #aaa;
		cursor: pointer;
		display: block;
		font-size: 12px;
		font-weight: bold;
		height: 18px;
		padding-top: 5px;
		position: absolute;
		right: 4px;
		text-align: center;
		top: 4px;
		width: 55px;
	}

		.topButton.active, .topButton:hover {
			border-color: #555;
			color: #555;
		}

#contentSection {
	left: 4px;
	top: 35px;
	right: 4px;
	bottom: 16px;
	position: absolute;
	border: 2px solid #000;
	border-radius: 8px;
}
	#middleSection {
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 52px;
		position: absolute;
	}

		#map {
			left: 0px;
			top: 0px;
			right: 300px;
			bottom: 0px;
			position: absolute;
			background: none;
		}

			.leaflet-map-pane {
				z-index:-1;
			}

		#rightCalendar {
			position: absolute;
			top: 0px;
			width: 50%;
			right: 0px;
			bottom: 0px;
			display: none;
			overflow-y: scroll;
			padding-bottom: 20px;
		}

			.week {
				float: left;
				margin-bottom: 20px;
				margin-left: 20px;
				border: 1px solid #aaa;
				border-radius: 4px;
				padding: 4px;
			}

				.week h2 {
					font-size: 16px;
					text-align: center;
					margin: 0px;
					color: #aaa;
				}

			#rightCalendar table {
				border-spacing: 0px;
			}

			#rightCalendar th {
				font-size: 10px;
				color: #aaa;
				width: 14px;
				font-weight: normal;
			}

			#rightCalendar td {
				border: 1px solid #fff;
				height: 3px;
				cursor: pointer;
			}

				#rightCalendar td.active {
					border-color: #000;
				}

		#rightList {
			top: 0px;
			right: 0px;
			bottom: 0px;
			width: 300px;
			position: absolute;
		}

			#rightList table {
				border-collapse: collapse;
			}

				#rightList th, #rightList td {
					border: 1px solid #eee;
					padding: 1px 5px;
					text-align: right;
				}

			#comHairline {
				position: absolute;
				top: 0px;
				left: 0px;
				right: 0px;
				height: 100px;
				border-bottom: 1px solid #000;
				background: rgba(255,255,255,0.9);
				background: -moz-linear-gradient(top,  rgba(255,255,255,1) 50%, rgba(255,255,255,0.5) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop( 50%,rgba(255,255,255,1)), color-stop( 100%,rgba(255,255,255,0.5)));
				background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 50%,rgba(255,255,255,0.5) 100%);
				background: -o-linear-gradient(top,  rgba(255,255,255,1) 50%,rgba(255,255,255,0.5) 100%);
				background: -ms-linear-gradient(top,  rgba(255,255,255,1) 50%,rgba(255,255,255,0.5) 100%);
				background: linear-gradient(to bottom,  rgba(255,255,255,1) 50%,rgba(255,255,255,0.5) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#80ffffff',GradientType=0 );
			}

			#comWrapper {
				position: absolute;
				top: 0px;
				left: 0px;
				right: 0px;
				bottom: 0px;
				overflow: hidden;
				padding-top: 100px;
			}

				#comList {
					margin-bottom: 1000px;
				}

				#comDetails {
					display: none;
					position: absolute;
					left: 60px;
					width: 200px;
					padding: 10px 10px 5px 10px;
					border-radius: 8px;
					background: rgba(255,255,255,0.95);
					border: 1px solid #eee;
					   -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
					-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
					        box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
				}

					#comDetails p {
						font-size: 12px;
						margin: 0 0 5px 0;
					}
					
					#comDetails a {
						color: inherit;
					}

		#middleSection.calendarView #map {
			right: 50%;
		}
		
		#middleSection.calendarView #rightList {
			display: none;
		}
		
		#middleSection.calendarView #rightCalendar {
			display: block;
		}

	#bottomSection {
		position: absolute;
		left: 0px;
		right: 0px;
		height: 50px;
		bottom: 0px;
	}

		#bottomLeftControls {
			position: absolute;
			top: 0px;
			left: 0px;
			bottom: 0px;
			width: 240px;
		}

			#infoText {
				position: absolute;
				top: 7px;
				left: 0px;
				width: 144px;
				height: 36px;
				text-align: center;
				font-family: 'Courier New', monospace;
				font-weight: bold;
				font-size: 16px;
			}

			#playPauseButtons {
				position: absolute;
				top: 0px;
				left: 144px;
				width: 48px;
				height: 48px;
				cursor: pointer;
			}

				#playPauseButtons img {
					position: absolute;
					top: 0px;
					left: 0px;
				}

				#playPauseButtons #pauseButton {
					display: none;
				}

				#playPauseButtons.paused #playButton {
					display: none;
				}

				#playPauseButtons.paused #pauseButton {
					display: inline;
				}

			#speedButtons {
				position: absolute;
				top: 0px;
				left: 192px;
				width: 48px;
				height: 48px;
			}

				.speedButton {
					position: absolute;
					top: 0px;
					left: 3px;
					width: 40px;
					height: 12px;
					font-size: 11px;
					border: 1px solid #000;
					border-radius: 6px;
					text-align: center;
					background: #fff;
					color: #000;
					cursor: pointer;
				}
					.speedButton.active {
						background: #000;
						color: #fff;
					}

		#scrollContainer {
			height: 48px;
			left: 240px;
			right: -2px;
			bottom: -2px;
			position: absolute;

			border: 2px solid #000;
			border-radius: 8px;
			overflow: hidden;
			cursor: pointer;
		}

			#scrollCanvas, #scrollImage {
				display: none;
				position: absolute;
				left: 0px;
				top: 0px;
				cursor: ew-resize;
			}

			#scrollHairLine {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 50%;
				height: 48px;
				border-right: 1px solid #A00;
				background: rgba(255,255,255,0.9);
				background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 100%);
				background: -webkit-gradient(linear, left top, right top, color-stop( 0%,rgba(255,255,255,1)), color-stop( 100%,rgba(255,255,255,0.7)));
				background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 100%);
				background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 100%);
				background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 100%);
				background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#80ffffff',GradientType=1 );
			}

#footer {
	position: absolute;
	height: 13px;
	left: 0px;
	right: 3px;
	bottom: 0px;
	font-size: 10px;
	text-align: right;
	color: #666;
}
	#footer a {
		color: #666;
	}

.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
