#bottomLeftControls {
	width: 168px;
}

	#infoText {
		position: absolute;
		top: 5px;
		right: 3px;
		width: 115px;
		font-size: 11px;
	}

	#playPauseButtons {
		left: 5px;
	}

	#speedButtons {
		right: 3px;
		width: 115px;
	}

		#speedButtons .speedButton {
			
			width: 38px;
			
		}

#scrollContainer {
	left: 168px;
}

#comList {
	bottom: 0px;
}

#comDetails {
	display: none;
}