
html {
	height: 100%;
}
body {
	margin: 0;
	position: relative;
	height: 100%;
	font-family: Arial;
}

#topSection {
	left: 0px;
	top: 0px;
	right: 0px;
	height: 48px;
	position: absolute;
	text-align: center;
}

	.tabButton {
		display: inline-block;
		border: 1px solid #357ebd;
		background: #428bca;
		border-radius: 4px;
		padding: 7px 9px 6px 9px;
		color: #fff;
		cursor: pointer;
		white-space: nowrap;
		font-size: 14px;
	}

		.tabButton.active {
			border-color: #285e8e;
			background: #3276b1;
			-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
			box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
		}

		.tabButton:hover {
			background: #3276b1;
		}

#middleSection {
	left: 0px;
	top: 48px;
	right: 0px;
	bottom: 48px;
	position: absolute;
}

	#map {
		left: 0px;
		top: 0px;
		right: 300px;
		bottom: 0px;
		position: absolute;
	}

	#rightCalendar {
		position: absolute;
		top: 0px;
		width: 50%;
		right: 0px;
		bottom: 0px;
		display: none;
		overflow-y: scroll;
	}

		.week {
			float: left;
			margin-top: 20px;
			margin-right: 20px;
		}

		#rightCalendar table {
			border-spacing: 1px;
		}

		#rightCalendar th {
			font-size: 10px;
			color: #aaa;
			width: 16px;
			font-weight: normal;
		}

		#rightCalendar td {
			height: 3px;
		}

	#rightList {
		top: 0px;
		right: 0px;
		bottom: 0px;
		width: 300px;
		position: absolute;
		overflow-y: scroll;
	}

		#rightList table {
			border-collapse: collapse;
		}

			#rightList th, #rightList td {
				border: 1px solid #eee;
				padding: 1px 5px;
				text-align: right;
				font-size: 12px;
			}

	#middleSection.calendarView #map {
		right: 50%;
	}
	
	#middleSection.calendarView #rightList {
		display: none;
	}
	
	#middleSection.calendarView #rightCalendar {
		display: block;
	}

#bottomSection {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 48px;
	bottom: 0px;
}

	#bottomLeftControls {
		position: absolute;
		top: 0px;
		left: 0px;
		bottom: 0px;
		width: 144px;
	}

		#infoText {
			position: absolute;
			top: 0px;
			left: 0px;
			bottom: 0px;
			width: 96px;
			text-align: center;
			font-family: 'Courier New';
			font-weight: bold;
			font-size: 14px;
		}

		#playPauseButtons {
			position: absolute;
			top: 0px;
			left: 96px;
			bottom: 0px;
			right: 0px;
			text-align: 'right';
		}

			#playPauseButtons i {
				position: absolute;
				top: 9px;
				left: 11px;
			}

			#playPauseButtons #pauseButton {
				display: none;
			}

			#playPauseButtons.paused #playButton {
				display: none;
			}

			#playPauseButtons.paused #pauseButton {
				display: inline-block;
			}

	#scrollContainer {
		top: 0px;
		left: 144px;
		right: 0px;
		bottom: 0px;
		position: absolute;
		overflow: hidden;
	}

		#scrollCanvas {
			position: absolute;
			left: 0px;
			top: 0px;
			cursor: pointer;
		}

			#scrollHairLine {
				position: absolute;
				left: 50%;
				top: 0px;
				width: 1px;
				height: 48px;
				background: rgba(255,0,0,1);
			}

.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}